# This workflow will do a clean install of node dependencies and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  schedule:
    - cron: '0 0 * * *'
  pull_request:
    branches: 
      - master

env:
  ACCOUNT_ADDRESS_TEST: ${{ secrets.ACCOUNT_ADDRESS_TEST }}
  ACCOUNT_SECRET_TEST: ${{ secrets.ACCOUNT_SECRET_TEST }}
  COINBASE_ENDPOINT: ${{ secrets.COINBASE_ENDPOINT }}
  COMPOUND_ENDPOINT: ${{ secrets.COMPOUND_ENDPOINT }}
  GAS_STATION_ENDPOINT: ${{ secrets.GAS_STATION_ENDPOINT }}
  CB_ACCESS_KEY: ${{ secrets.CB_ACCESS_KEY }}
  CB_ACCESS_PASSPHRASE: ${{ secrets.CB_ACCESS_PASSPHRASE }}
  CB_ACCESS_SECRET: ${{ secrets.CB_ACCESS_SECRET }}
  PROVIDER_IPC_PATH: ${{ secrets.PROVIDER_IPC_PATH }}
  PROVIDER_INFURA_ID: ${{ secrets.PROVIDER_INFURA_ID }}
  PROVIDER_INFURA_SECRET: ${{ secrets.PROVIDER_INFURA_SECRET }}
  PROVIDER_ALCHEMY_KEY: ${{ secrets.PROVIDER_ALCHEMY_KEY }}
  PGDATABASE: ${{ secrets.PGDATABASE }}
  PGHOST: ${{ secrets.PGHOST }}
  PGPASSWORD: ${{ secrets.PGPASSWORD }}
  PGPORT: ${{ secrets.PGPORT }}
  PGUSER: ${{ secrets.PGUSER }}
  SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}

jobs:
  test-ethereum:

    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash
        working-directory: ethereum

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 14
      uses: actions/setup-node@v1
      with:
        node-version: '14.x'
    
    - name: Create .env file
      run: |
        touch .env
        echo "PROVIDER_INFURA_ID"=$PROVIDER_INFURA_ID >> .env
        echo "PROVIDER_ALCHEMY_KEY"=$PROVIDER_ALCHEMY_KEY >> .env
    
    - run: yarn install
    - run: yarn test-latest-block
    - run: yarn test-known-block

  test-services-txmanager:

    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash
        working-directory: services/txmanager

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 14
      uses: actions/setup-node@v1
      with:
        node-version: '14.x'
    
    - name: Create .env file
      run: |
        touch .env
        echo "PROVIDER_INFURA_ID"=$PROVIDER_INFURA_ID >> .env
        echo "ACCOUNT_ADDRESS_TEST"=$ACCOUNT_ADDRESS_TEST >> .env
        echo "ACCOUNT_SECRET_TEST"=$ACCOUNT_SECRET_TEST >> .env
    
    - run: yarn install
    - run: yarn test
